@using PatientPortal.Utility
@model PatientPortal.Models.PatientViewModel
@{
    var tabs = new HashSet<string>();
    var fields = new Dictionary<string, List<ModelMetadata>>();

    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName != "Files" && property.PropertyName != "ID")
        {
            foreach (var subprop in property.Properties)
            {
                if (subprop.PropertyName != "ID" && subprop.GetGroupName() != null)
                {
                    if (!fields.ContainsKey(subprop.GetGroupName()))
                    {
                        fields[subprop.GetGroupName()] = new List<ModelMetadata>();
                    }

                    fields[subprop.GetGroupName()].Add(subprop);
                    tabs.Add(subprop.GetGroupName());
                }
            }
        }
    }
   
}
<div id="editpatient">
@using (Html.BeginForm("EditPatient", "Home", FormMethod.Post, new { id = "editpatient_form" }))
{

    <div id="patient_details">
        <h2>@Model.Patient.ID</h2>
        @Html.HiddenFor(model => model.Patient.ID)
        <div id="tabs">
            <ul>
                @foreach (var tab in tabs)
                {
                    <li><a href="#tabs-@tab">@tab</a></li>
                }
            </ul>
            @foreach (var tab in tabs)
            {
                <div id="tabs-@tab">
                    @foreach (var property in fields[tab])
                    {
                        if (property.ModelType.Name == "SectionName")
                        {
                        <div class="subsection">@Html.Label("Patient" + "." + property.PropertyName) </div>
                        }
                        else if (property.ModelType.Name == "SubSectionName")
                        {
                        <div class="subsubsection">@Html.Label("Patient" + "." + property.PropertyName) </div>
                        }
                        else
                        {
                        @Html.Label(property.DisplayName ?? property.PropertyName)
                        }

                        var full_name = String.Concat("Patient" + "." + property.PropertyName);

                        if (Model.Patient.Locked)
                        {
                        @Html.Display(full_name)
                        }
                        else
                        {
                            
                        @Html.ValidationMessage(full_name)

                            var nullable = Nullable.GetUnderlyingType(property.ModelType);

                            if (property.ModelType.IsEnum || (nullable != null && nullable.IsEnum))
                            {
                        @Html.EnumDropDownList(property, full_name, null)
                            }
                            else if (property.ModelType.IsArray)
                            {
                        @Html.EnumMultipleList(property, full_name, null)
                            }
                            else if (property.ModelType.Name == "SectionName")
                            {

                            }
                            else
                            {
                        @Html.Editor("Patient" + "." + property.PropertyName)
                            }
                        }
                    }
                </div>
            }

        </div>


    </div>
    <div id="patient_form">
        @Html.ValidationSummary(true)
        <p></p>
        @* <div id="savechanges" class="fixedbutton">
            <input type="submit" value="Save Changes" />*@
        <div class="fixedbutton" id="editpatient_ajax"><a>Save Changes</a></div>


        <h3>Resources</h3>
        @if (Model.IsReportAvailable)
        { 
            <div class="fixedbutton">@Html.ActionLink("Download", "PPT", new { id = Model.Patient.ID })</div>
        }
        else
        {
            <div class="fixedbutton_disabled"><a>Case Slides (PPT)</a></div>
            <p>The report is being generated.</p>
        }
        <h3>Administration</h3>
        <div class="fixedbutton" id="delete" data-patientid="@Model.Patient.ID"><a href="Home/PatientDelete?id=@Model.Patient.ID">Delete Record</a></div>
        <div class="fixedbutton" id="track" data-patientid="@Model.Patient.ID"><a href="Home/ChangeHistory?id=@Model.Patient.ID">Change History</a></div>
        <div class="fixedbutton" id="track" data-patientid="@Model.Patient.ID"><a href="Home/ChangeHistory?id=@Model.Patient.ID">Lock Record</a></div>
        @* <button class="fixedbutton" id="lock_button">Lock changes</button>
    <button class="fixedbutton" id="delete_button">Delete Patient</button>*@
    </div>
}
   </div>

@Scripts.Render("~/bundles/jqueryval")

<script>
    $(function () {
        $('#tabs').tabs();
        //$('#Patient_Date').datepicker();

        $("*[id$='Date']").each(function () {
            $(this).datepicker();
        })
    });

    $("#editpatient_ajax").click(function (event, ui) {
        if ($('form#editpatient_form').valid()) {
            $.ajax({
                url: 'EditPatient',
                type: 'post',
                data: $('form#editpatient_form').serialize(),
                success: function (data) {
                 //   $("html").html(data);
                },
                error: function (data) {
                    $("#editpatient").html(data.responseText);
                }
            });
        }
    });

</script>
